<p id="notice">
	<%= notice %>
</p>

<h1>Available Courses</h1>

<div class="row text-center">
	<% if can? :create, Course%>
	<div class="col-xs-18 col-sm-6 col-md-3 course">
		<div class="thumbnail">
			<img src="http://placehold.it/500x300" alt="">
			<!-- <div id="course-title" style="width: 500px;height: 300px"> -->
			<div class="caption">
				<h4>Create new course</h4>
				<p>
					Create new course for students
				</p>
				<p>
					<%= link_to 'New Course', new_course_path, {:class=>"btn btn-warning btn-block mybtn",:role=>"button"}  %>
				</p>

			</div>
		</div>
	</div>
	<% end %>
	<% @courses.each do |course| %>
	<div class="col-xs-18 col-sm-6 col-md-3 course">
		<div class="thumbnail">
			<img src="http://placehold.it/500x300" alt="">
			<!-- <div id="course-title" style="width: 500px;height: 300px"> -->
			<div class="caption">
				<h4><%= course.title %></h4>
				<% if can? :update, Course%>
				<%= link_to 'Edit', edit_course_path(course) %> | <%= link_to 'Delete', course, method: :delete, data: { confirm: "Do you want to delete '"+course.title+"' course?"} %> (Admins only)
				<% end %>
				<% if course.try(:lectures).try(:count) > 0%>
				<p>
					This Course includes <%= course.lectures.count%> lecture(s).
				</p>
				<p>
					<%= link_to 'Show Lectures', course, {:class=>"btn btn-success btn-block mybtn",:role=>"button"} %>
				</p>
				<% else %>
				<p>
					No lectures added to this course yet.
				</p>
				<p>
					<a class="btn btn-default btn-block mybtn"><b>Coming Soon!</b></a>
				</p>
				<%end%>

			</div>
		</div>
	</div>
	<% end %>
</div>

