<!DOCTYPE html>
<html>
	<head>
		<title>Coursera</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<!-- Navigation -->
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Coursera</a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li>
							<%= link_to "Courses", courses_path %>
						</li>
						<li>
							<%= link_to "Lectures", lectures_path%>
						</li>

					</ul>

					<!-- Right nav bar links -->
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <% if user_signed_in?%>
							<%= current_user.try(:name) %>
							<% else %>Account
							<% end %> <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<%= render 'devise/menu/registration_items' %>
								<li role="separator" class="divider"></li>
								<%= render 'devise/menu/login_items' %>
							</ul>
						</li>
					</ul>

				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container -->
		</nav>
		<div class="container">
			<%= yield %>
		</div>
	</body>
</html>
